REACT_APP_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APP_APPWRITE_PROJECT_ID="699d9ed3000ed52d74e2"
VITE_APP_APPWRITE_DATABASE_ID="699eb672000c4771fb2e"
VITE_APP_APPWRITE_COLLECTION_ID="articles"
VITE_APP_APPWRITE_BUCKET_ID="699ebbf2002959215b7b"